/* Coolors Exported Palette - coolors.co/1f2a26-d8d4f2-e8e321-2ad37a-3d8cd0 */

/* HSL */
$color1: hsla(158%, 15%, 14%, 1);
$color2: hsla(248%, 54%, 89%, 1);
$color3: hsla(58%, 81%, 52%, 1);
$color4: hsla(148%, 67%, 50%, 1);
$color5: hsla(208%, 61%, 53%, 1);

/* RGB */
$color1: rgba(31, 42, 38, 1);
$color2: rgba(216, 212, 242, 1);
$color3: rgba(232, 227, 33, 1);
$color4: rgba(42, 211, 122, 1);
$color5: rgba(61, 140, 208, 1);