doctype html
head
  meta(charset="utf-8")
  title Cebulacamp 2020
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" type="text/css" href="style/main.scss")
body
    //if IE
        p.browserupgrade
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href="https://browsehappy.com/") upgrade your browser
        |  to improve your experience and security.

    header.hero
        h1 Cebulacamp
        h2 Catchprase maybe?
        h3 April xx-xx, 2020
        h3 Gdańsk, Poland

        p.acc0 Lorem ipsum
        p.acc1 dolor sit amet
        p.acc2 I should learn latin

    p Fajny ten landing, taki nie za dużo się tu dzieje
