doctype html
head
  meta(charset="utf-8")
  title Cebulacamp 2020
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" type="text/css" href="style/main.scss")
body
    //[if IE]
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>[endif]

    header.hero
        h1 Kongres Komunikacyjny Cebula
        h2 Testing in production
        p April 25-28, 2020
        p Gdańsk

    /// TODO: moar dynamic - maybe quote from oof as a tagline? :D
    /// TODO: genrate menu
    main
        section.starter
            p [TODO] what cebula is...

        section
            .section-content
                header
                    h2 Tickets


                p The best time to buy tickets is *now*, go ahead and buy them 
                    a(href="https://tickets.hackerspace.pl/cebulacamp/kkc20/1/") here!

        section
            .section-content
                header
                    h2 CFP


                p Here's the link for 
                    a(href="https://cfp.cebula.camp/kkc-2020/cfp") submitting more talks!

        section
            .section-content
                header
                    h2 Agenda

                p We're doing our best to complete the schedule, but you can 
                    a(href="https://cfp.cebula.camp/kkc-2020/schedule/") get a sneak peak!

        section
            .section-content
                header
                    h2 Venue

                /// TODO: fota Orle nocą <3

                p Cebula will be hosted at the beautiful 
                    a(href="https://www.orle.com.pl/") Orle hotel

                p Note: your ticket *covers* the accommodation.
                
        section
            .section-content
                header
                    h2 Contact
                    
                p irc: #cebulacamp on Freenode
                p 
                    a(href="mailto:cebula@hackerspace.pl") email: cebula@hackerspace.pl

    // TODO: footer with videos / streaming, social media? wiki? mailing list?
    // TODO: editions (we call them layers!)
    // TODO: licence link / whatever / sources
