doctype html
head
  meta(charset="utf-8")
  title Cebulacamp 2020
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" type="text/css" href="style/main.scss")
body
    //[if IE]
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>[endif]

    header.hero
        h1 Kongres Komunikacyjny Cebula 2020
        h2 Testing in production
        p.acc0 2020/04/24 - 2020/04/26
        p.acc1 Hotel Orle, Gdańsk
        p Three days of under-organized hacking and talking in a hotel in northern Poland. We might talk about the Polish hacker scene. We might get technical. We might even speak mostly Polish, but we'll do our best to welcome people who don't speak encrypted. We're friendly.
        p.acc2 But, most importantly, we will have a bonfire with kiełbaski. Hopefully even vegan ones. Join us!

    main
        section.starter
            <img src="cebula2020.jpeg">

        section
            .section-content
                header
                    h2 Tickets

                p Get your tickets now at <a href="https://tickets.hackerspace.pl/cebulacamp/kkc20/1">tickets.hackerspace.pl/cebulacamp/kkc20/1</a>.
                
                p An all-inclusive ticket (bed in shared room for two nights, food for three days) is 500 PLN. If you want a solo room, or to share a room with someone in particular, contact <a href="mailto:cebula@hackerspace.pl">cebula@hackerspace.pl</a>, or (once you bought your ticket) <a href="mailto:info@orle.pl">info@orle.com.pl</a>.

        section
            .section-content
                header
                    h2 CFP

                p Yes, there will be some talks. No, they won't be very formal.

                p Please take part in Cebula Camp! <a href="https://cfp.cebula.camp/kkc-2020/cfp">Submit your talks</a>, or, <a href="https://cfp.cebula.camp/kkc-2020/sneak/">Look at Sneak Peaks</a>.

        section
            .section-content
                header
                    h2 Contact
                    
                p Reach the organizers at <a href="mailto:cebula@hackerspace.pl">cebula@hackerspace.pl</a>. Reach the hotel (in case of room requests, etc) at <a href="mailto:info@orle.com.pl">info@orle.com.pl</a>, and CC cebula@hackerspace.pl if you so with.
                
                p irc: #cebulacamp on Freenode
                
                p Cebula Camp is an inclusive event. Be excellent to each other, or stay home. Harassment and discrimination are not welcome or tolerated, online or AFK. If you're a subject, observer, or third-party to any of these, please, get in touch, write to <a href="mailto:cebula@hackerspace.pl">cebula@hackerspace.pl</a> or <a href="mailto:q3k@q3k.org">q3k personally</a>.
